{% extends 'baseuh.html.twig' %}

{% block body %}
    <h1>Mentions Légales</h1>
    <div class="content">
    <h3>Aux confins de la galaxie</h3>
        Aux Confins de la Galaxie est un jeu de rôle en temps réel qui se joue sur un salon IRC (salon de chat). 
        Comme tous les jeux de rôle, le principe est d'incarner un personnage au jour le jour, tout au long de sa formation sur la voie de la Force. 
        Outre la vie de votre personnage et sa formation auprès de son mentor, se déroulent des missions organisées par les Maîtres Jedi et les Chevaliers.
        Ces missions sont communéments appellées RPG et sont des missions de groupe durant lesquelles le scénario évolue au rythme que chacun lui donne : chaque action de chaque personnage peut faire pencher le scénario et donc l'issue finale de la mission d'une extrémité à l'autre.
        En d'autre termes, sur le NOJ, rien n'est prévu à l'avance, tout se fait en temps réel.
        <br>
        <br>
        Le RPG du Nouvel Ordre Jedi est aussi une communauté de fans de Star Wars et il est necessaire de connaître un minimum cet univers pour pouvoir faire partie du jeu.
        Lorsque vous vous présentez pour la première fois sur le jeu (via le script en téléchargement sur la page d'index), vous avez le statut d'Aspirant.
        Vous intégrez le RPG mais vous n'êtes pas encore un Jedi.
        Les aspirants passent une épreuve de test de connaissance devant le Conseil des Jedi tous les dimanches à 18h. 
        C'est à l'issu de ce test que le Conseil vous nommera padawan ou non.
    </div>
{% endblock %}