{% extends 'base.html.twig' %}

{% block title %}Inscription | Aux Confins de la Galaxie{% endblock %}



{% block body %}

<div class="container mt-5">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path ('home')}}">Acceuil</a></li>
    <li class="breadcrumb-item active" aria-current="page">Charte Utilisateur</li>
  </ol>
</nav>

    <div class="row mt-4 mb-5">
        <div class="col">
            <h4>Etape 1: Charte d'Utilisation</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="mt-2">Charte d'utilisateur wesh Charte d'utilisateur wesh Charte d'utilisateur wesh Charte d'utilisateur wesh Charte d'utilisateur wesh Charte d'utilisateur wesh Charte d'utilisateur wesh</p>
            <p>Charte d'utilisateur wesh Charte d'utilisateur wesh Charte d'utilisateur wesh Charte d'utilisateur wesh Charte d'utilisateur wesh Charte d'utilisateur wesh Charte d'utilisateur wesh</p>
            <p>Charte d'utilisateur wesh Charte d'utilisateur wesh Charte d'utilisateur wesh Charte d'utilisateur wesh Charte d'utilisateur wesh Charte d'utilisateur wesh Charte d'utilisateur wesh</p>
            <p>Charte d'utilisateur wesh Charte d'utilisateur wesh Charte d'utilisateur wesh Charte d'utilisateur wesh Charte d'utilisateur wesh Charte d'utilisateur wesh Charte d'utilisateur wesh</p>
            <a href="{{ path ('registration') }}"><button class="float-right" type="button">J'accepte les conditions d'uitlisation</button></a>
        </div>
    </div>
</div>
{% endblock %}