{% extends 'base.html.twig' %}

{% block title %}Inscription | Aux Confins de la Galaxie{% endblock %}



{% block body %}

<div class="container mt-5">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path ('home')}}">Acceuil</a></li>
    <li class="breadcrumb-item active" aria-current="page">Charte Utilisateur</li>
  </ol>
</nav>

    <div class="row mt-4 mb-5">
        <div class="col">
            <h4>Etape 1: Charte d'Utilisation</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 >Hors-RPG</h5>
            <p class="mt-2">Le salon HRPG est un endroit où les membres de la communauté viennent discuter et interagir. Il remplace les dialogues entre parenthèse dans l'ancienne version du jeu.
            Lorsque vous utilisez ce salon, vous parlez en tant que personne, et non en tant que personnage. 
            C'est pourquoi certaines règles en lien direct avec le code de bonne conduite doivent être mises en place. 
            Il s'agit donc d'un guide d'utilisation, où vous trouverez les règles à respecter, ainsi que certaines démarches à suivre.</p> 

            <p>1- Pour une bonne ambiance générale sur le salon, chacun doit faire preuve de retenue envers les comportements d'autrui. 
            Nous sommes tous différents et le respect des autres commence par une retenue de soit. Modérez vous, même si certains comportements ou attitudes vous exaspèrent. 
            N'hésitez pas cependant à en faire part aux Administrateurs, qui seront en mesure de juger si une intervention est nécessaire. 
            Le salon #Cantina ne doit pas devenir un lieu de règlement de compte. Si la discussion s'envenime, l'Administrateur se garde le droit d'intervenir et d'entamer une procédure de sanction en accord avec le code de bonne conduite.</p> 

            <p>2- Comme auparavant, certains sujets sur ce salon seront à éviter (Religion, politique...) 
            Car nous avons tous des opinions différentes concernant la société et le point de vu de chacun est à respecter. Personne ne doit être blâmé ou jugé selon ses opinions. 
            Cette règle rejoint directement la précédente concernant la retenue de chacun. 
            Si la situation se complique malgré les avertissements à éviter certains sujets, l'Administrateur se garde à nouveau le droit d'intervenir et d'entamer une procédure de sanction en accord avec le code de bonne conduite.</p>

            <p>3- En cas d'absence d'Administrateur, les Maîtres et Chevaliers Jedi sont considérés comme des modérateurs. Ils sont à même d'intervenir lorsque la situation l'exige. 
            Tout abus de modération entraînera néanmoins des sanctions plus ou moins importante, en accord avec le code de bonne conduite.</p> 

            <p>4 - Sur le salon #cantina, les joueurs peuvent échanger entre eux en dehors du jeu. Ils s'engagent à ne pas effectuer de RPG sur le salon. 
            En contrepartie, sur le salon #nouvel-ordre, les phrases Hors-RPG sont désormais interdites à quelques exceptions prêt (bonjour, au revoir, appel d'un joueur pour qu'il regarde l'autre salon, interventions du Conseil Jedi, réactions rapides lol/mdr/smileys, faux RPG ponctuel). Note : le faux RPG correspond à des actions <...> entre parenthèses.</p> 

            <p>5 - Les joueurs s'engagent à jouer le jeu autour de la création de ces deux salons et d'y maintenir de l'activité. Ils s'engagent donc à être présent et actif en particulier sur le salon #nouvel-ordre qui est l'essence même du jeu.</p> 

            <p>6- Le salon #cantina est ouvert à tous les "amis" du jeu, notamment les anciens membres, pour peu qu'ils n'aient pas été exclus pour sanctions disciplinaires, joueurs désireux de découvrir le jeu. Le salon #nouvel-ordre leur est également ouvert mais ils ne devront pas perturber les séances de jeu.</p> 

            <p>7 - Tous les joueurs SANS EXCEPTION doivent être sur les deux salons à la fois. Sur le salon #inrp ainsi que sur les salons de spawn (#Coruscant, #Yavin, #MonCalamari), les joueurs qui ne sont pas disponibles pour jouer (mais qui veulent quand même rester connectés comme observateurs) doivent impérativement se dégrader et rester sans mode. Les joueurs désirant jouer peuvent se regrader.
            Les Modérateurs ou Administrateurs peuvent dégrader les joueurs qui seraient absent et qui auraient oublié de le faire. Ainsi, il sera facile de reconnaitre les joueurs immédiatement disponibles pour jouer.</p>   
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 >In-RPG</h5>
            <p>La courtoisie est de mise entre tous, entre membres comme d’un Jedi envers un civil où d'un civil envers un soldat de la Nouvelle République.</p>
            <p>Quelques preceptes de bonnes conduites du RP: </p>
            <p>Obéir aux ordres émanant d’un supérieur hiérarchique.</p>
            <p>Respect envers tous et toutes, qu’ils soient membres de l’Ordre Jedi, Soldats ou citoyens extérieurs.</p>
            <p>Jedi: Respect de la vie en général impliquant de ne pas blesser ou tuer inutilement.</p>
            <p>Réalisme du personnage.</p>
            <p>L’esprit d’équipe est souvent déterminant en mission, coopéré au lieu de chercher à retirer une gloire personnelle.</p>
            <p>Limitez les propos Hors-RPG lorsque des personnes jouent. Restez cohérent envers l’esprit Star Wars</p>
            <a href="{{ path ('registration') }}"><button class="float-right btn btn-primary" type="button">J'accepte les conditions d'uitlisation</button></a>
        </div>
    </div>    
</div>
{% endblock %}