{% extends 'base.html.twig' %}

{% block title %}Profil | Aux Confins de la Galaxie{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-3">
                <div class="avatar">
                    Your avatar
                </div>
            </div>
            <div class="col-lg-3">
                <table>
                    <tr>
                        <td>Identité :</td>
                    </tr>
                    <tr>
                        <td>Race:</td>
                    </tr>
                    <tr>
                        <td>Age:</td>
                    </tr>
                    <tr>
                        <td>Monde Natal :</td>
                    </tr>
                    <tr>
                        <td>Profession:</td>
                    </tr>
                    <tr>
                        <td>Statut:</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-3">
                <table>
                    <tr>
                        <th>Titres</th>
                    </tr>
                    <tr>
                        <td>Grand Manitou</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-3">
                <table class="text-center">
                    <tr>
                        <th>Menu</th>
                    </tr>
                    <tr>
                        <td><a href="#">Profil</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">Competences</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">Dons</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">Activités</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">Apprentis</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-12">
                <div class="profil-title">
                    <h5>Premières Impressions</h5>
                </div>
                <div class="profil-body">
                    <p>Contenu</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-6">
                <div class="profil-title">
                    <h5>Biographie</h5>
                </div>
                <div class="profil-body">
                    <p>Contenu</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="profil-title">
                    <h5>Description Physique et Morale</h5>
                </div>
                <div class="profil-body">
                    <p>Contenu</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
