{% extends 'base.html.twig' %}

{% block title %}Aux Confins de la Galaxie{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>En construction</h3>
            </div>
        </div>
    </div>
{% endblock %}