/* GENERAL */
*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
a .hvr-radial-in{
  color: white;
}
a:hover{
  text-decoration: none;
}
header{
    background-color: #1b2735;
    opacity: 0.7;
    
}
body{
    font-family: 'QuickSand',sans-serif;
    height: 100%;
}
.parallax
{
  /* The image used 
  background-image: url('../uploads/home/space.jpg');
  height: 100%;
  /* Set a specific height 
  min-height: 500px; 

  /* Create the parallax scrolling effect 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}
section
{
    padding: 45px 0 70px 0 ;
}
h1,h2,h3,h4,h5
{
    font-weight: bold;
}
h3
{
    border-bottom: 1px solid #005171;
}
section .heading
{
   text-align: center;
   padding-bottom: 40px;
}
img
{   height: auto;
    vertical-align: middle;
}
#loginmodal{
    position: relative;
    z-index: 3;
}

/* NAVBAR */

.navbar
{
    position: relative;
    height: 60px;
}

.navbar .navbar-brand 
{
    color: #CDDFD6!important;
}
.navbar .nav-item a
{
    color: #CDDFD6!important;
}
.dropdown-menu{
    background-color: #1b2735;
    border: 1px solid yellow;
    color: #CDDFD6;
    z-index: 3;
}

.dropdown-menu a:hover{
    background-color:rgba(3, 170, 248, 0.7);
}

/* CAROUSEL */

.carousel
{
    
    margin-bottom: 20px;
    line-height: 1;
    padding: 40px;
    z-index: -1;
}
.carousel-caption
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    background: #222222;
    background: rgba(0, 0, 0, 0.75);
}
.carousel .carousel-inner h3 {
    margin-bottom: 5px;
}
h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.carousel-inner
{
    display: block;
    line-height: 1;
}
.carousel .carousel-inner .item img
{
    width: 100%;
}
.carousel-inner .item img
{
    display: block;
    line-height: 1;
}
/*  SOUS CAROUSEL */

main{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    padding-left: 150px;
    padding-right: 150px;
    text-decoration: none;
  }
  main a{
    color: #ebebd3;
    text-decoration: none;
  }
  main a:hover{
    color:white;
  }
  #sub{
    background-color: #060606;
    opacity: 0.8;
    color: #ebebd3;
    margin-left: 30px;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #005171;
    border-radius: 5px;
  }
  #join{
    
    background-color: #060606;
    opacity: 0.8;
    color: #ebebd3;
    margin-left: 30px;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #005171;
    border-radius: 5px;
    
  }
  
  #sub:hover{
    background-color: #005171;
    border: 1px solid #060606;
  }
  #join:hover{
    background-color: #005171;
    border: 1px solid #060606;
  }

  
  /*  SECTION AVANT FOOTER */


.learnmore{
  float: right;
}
.card-body-1{
  float: left;;
}
.card-body-2{
  display: inline;
}
.card-body-3{
  float: right;
}
/*     FOOTER */


.footer{
    background-color: #060606;
    opacity: 0.8;
    color: #ebebd3;
    text-align: center;
    padding: 1em;
    width: 100%;
    margin-top: 40px;
    bottom: 0;
    left:0;
    right:0;
    clear: both;
}

.hvr-radial-out {
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #000 url("https://image.ibb.co/mjnygo/stars.png") repeat top center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: white;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000 url("https://ak6.picdn.net/shutterstock/videos/8264476/thumb/11.jpg?i10c=img.resize(height:160)") repeat top center;
  color: white;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: yellow;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}



/* Radial In */
.hvr-radial-in {
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #000 url("https://ak6.picdn.net/shutterstock/videos/8264476/thumb/11.jpg?i10c=img.resize(height:160)") repeat top center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: white;
}
.hvr-radial-in:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000 url("https://image.ibb.co/mjnygo/stars.png") repeat top center;
  border-radius: 100%;
  -webkit-transform: scale(2);
  transform: scale(2);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-in:hover, .hvr-radial-in:focus, .hvr-radial-in:active {
  color: yellow;
}
.hvr-radial-in:hover:before, .hvr-radial-in:focus:before, .hvr-radial-in:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}
.voie-image{
  float:left;
}

#genre #registration_perso_genre{
  display: flex;
  justify-content: space-around;
}

#genre .form-check{
  border-radius: 5px;
  position: relative;
  width: 100px;
  height: 100px;
  padding: 0;
}

#genre .form-check label{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  font-size: 0;
}

#genre .form-check:first-of-type label{
  background-image: url('../uploads/registration/gender/male.jpg');
}
#genre .form-check:last-of-type label{
  background-image: url('../uploads/registration/gender/female.jpg');
}

#genre .form-check input{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
}




.checked{
  box-shadow: 0px 0px 20px azure !important;
  opacity:1;
}

#genre .form-check input:after{
  display: inline-block;
}



#classe .voie-image{
  border-radius: 5px;
  position: relative;
  width: 100px;
  height: 100px;
  padding: 0;
}
#classe .classe-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  font-size: 0;
  z-index:1;
}
#classe input{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
}
.label-classe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  }



#race .image-de-race{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  font-size: 0;
}
#race input{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: -1;
}

.label-race {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  }
  img.race-image{
    opacity: 0.6;
    
  }