{% extends 'baseuq.html.twig' %}

{% block body %}
    <h1>Contrebandier</h1>
    <div class="content">
        <p>
          Le jeu étant en temps réel, les actions de chaque joueur s'effectuent en direct.
          Contrairement aux jeux de rôles sur forum qui permettent de prendre le temps de la réflexion pour répondre, la rapidité sur le jeu de rôle en temps réel est très importante.
          <br>
          <br>
          Voici quelques conseils pour faciliter le jeu en temps réel :
          <br>
          <br>
          1 - Faites de petites phrases et découpez vos actions en plusieurs petites actions. Cela permet aux autres joueurs de ne pas trop attendre que vous écriviez et leur permet en plus de réagir à chaque phrase que vous écrivez. 
          Dans la mesure du possible, accordez-vous sur le rythme d'action induit par celui qui anime, ou les joueurs avec lesquels vous jouez.</p>
    </div>
{% endblock %}