{% extends 'baseuq.html.twig' %}

{% block title %}Voie Contrebandier | Aux Confins de la Galaxie{% endblock %}

{% block body %}
    <h1>Civil</h1>
    <div class="content mt-5">
        <p>La Classe Civil constitue la classe de base du jeu. Nous recommandons de prendre cette classe aux joueurs n'ayant pas beaucoup d'expérience dans le RPG par écrit dans un premier temps.<br>
        Vous pourrez changer de classe lors de votre vie in-game.</p>
    </div>
{% endblock %}