{% extends 'baseuq.html.twig' %}

{% block title %}Empire | Aux Confins de la Galaxie{% endblock %}

{% block body %}
    <div class="content-info">
        <h1>L'Empire</h1>
        <div class="content mt-5">
            <p>L'Empire constitue la faction non-jouable du jeu. Elle est menée par le fin stratège Grand Amiral Thrawn.</p>
            <p>Malgrès sa perte de terrain face aux Rebelles après la destruction de l'Etoile de la Mort, la prise en main de l'Empire par Thrawn lui à permit de restaurer son honneur et sa gloire passée
            si bien qu'il menace la jeune Nouvelle République de s'effrondrer.</p>
        </div>
    </div>
{% endblock %}