{% extends 'baseuq.html.twig' %}

{% block title %}Grades | Aux Confins de la Galaxie{% endblock %}

{% block body %}
    <h1>Les Grades</h1>
    <div class="content">
        <p>Les grades seront susceptibles de changer au cours du temps :</p>
        <h5>Jedi</h5>
            <p class="text-center mt-4 mb-5">Padawan  >>  Chevalier  >>  Maitre</p>
        <h5>Agent de la Nouvelle République</h5>
            <p class="text-center mt-4 mb-5">Padawan  >>  Chevalier  >>  Maitre</p>
        <h5>Civil</h5>
            <p class="text-center">Padawan  >>  Chevalier  >>  Maitre</p>
    </div>
{% endblock %}