{% extends 'baseuq.html.twig' %}

{% block title %}Guide du Sabre-Laser | Aux Confins de la Galaxie{% endblock %}

{% block body %}
    <h1>Utilisation du Sabre-Laser</h1>
    <div class="content">
        <p>Tout ce qu'un Jedi doit savoir à propos du sabre laser est sur cette page.</p>
        <br>
        <h4>Généralités sur les sabres lasers</h4>
            <p>Le sabre laser est l'arme des Jedi. Simple, puissante et à la fois complexe à manier, elle est l'incarnation même des directives et des principes fondamentaux énoncés dans le Code Jedi.
            Seul un Jedi parfaitement préparé et ayant la Force à ses coté est capable de l'utiliser. 
            Toute l'arme se réduit à une simple poignée capable d'émettre une lame d'énergie pure qui sera apte trancher n'importe quel matériau, de la simple paroi en transparacier, en passant par la chair, au blindage le plus résistant qu'il soit. Les seuls matériaux capables de resister à la lame d'un sabre laser sont la lame d'un autre sabre laser et la cortose. La cortose est un métal très résistant très rare de nos jours. Les matériaux forgés en alliage de cortose peuvent bloquer les sabres lasers tandis que la cortose pure détruit la lame énergétique et rend le sabre inutilisable pendant plusieurs minutes. La cortose est au sabre laser ce que les Ysalamaris sont à la Force.</p>
            <br>
        <h4>Conception du sabre laser :</h4>
            <p>Chaque sabre laser est unique et pour cause : chacun des Jedi fabrique sa propre arme.
            Cette conception réalisée à la fin de l'apprentissage d'un Padawan est un passage inévitable pour atteindre le rang de Chevalier Jedi. 
            Pour ce faire, l'apprenti Jedi doit récupérer une gemme Corusca (généralements présents dans le centre des géantes gazeuses) qui sera la pièce maitresse de sa future arme (du temps de l'Ancienne République les cristaux utilisés étaient les cristaux présents sur Illum, Ambria et dans le système d'Adega qui sont encore utilisés de nos jours). Il doit ensuite trouver et assembler tous les matériaux necessaires à l'élaboration de la poignée et créer un design qui lui est propre. La dernière étape de la construction réside en un assemblage parfait des matériaux, assisté par la Force, qui leur donnera "vie" et achevera la réalisation de l'arme. Cette dernière étape est la plus longue mais aussi la plus fastidieuse. Il faut compter entre trois semaines et un mois pour cet assemblage. Durant cette période, le padawan devra se concentrer uniquement sur cette tache sinon il risquerait de compromettre l'assemblage et donc de réaliser un sabre déféctueux qui pourrait lui être fatal. 
            C'est pourquoi la plupart des padawan s'isolent sur une planète déserte ou peu habitée pour la construction de leur sabre.</p>
            <br>
        <h4>Fonctionnement du sabre laser :</h4>
            <p>Les sabres lasers sont définis par le ou les cristaux présents dans la poignée.
            Ces cristaux ont pour but de canaliser l'énergie de la cellule énergétique et de la matérialiser sous forme de lame. De ces cristaux dépendent toutes les caracteristiques de l'arme.
            Le premier cristal indispensable est un cristal coloré qui donnera sa couleur à la lame. 
            Il est généralement possible de trouver des cristaux étants capables de faire apparaitre des lames bleues, vertes, jaunes, oranges ou rouges.
            D'autres couleurs existent mais les cristaux restent très rare : il s'agit des cristaux à couleur violette ou des cristaux à couleur bleue turquoise. 
            De ce même cristal de couleur, dépend le son caracteristique de la lame qui pourra être du plus sourd au plus fin boudronnement.
            Il est aussi possible de combiner plusieurs cristaux dans une même poignée (au maximum deux cristaux, la poignée étant généralement trop petite pour en acceuillir un troisième).
            C'est notemment grâce à l'utilisation d'un deuxième cristal qu'il est possible de créer des lames à longueur variable. 
            La technique consiste à écarter plus ou moins les deux cristaux dans le but de faire varier la longueur de la lame (de 1m à 1m30 en général). 
            Ce processus peut être relié à un bouton ce qui permet au Jedi de modifier la longueur de sa lame au milieu d'un combat et donc de l'adapter à la situation.
             Les cristaux utilisés dans les sabres lasers doivent être les plus purs possibles. 
             En effet des cristaux impurs pourraient rendre l'émission de la lame instable et conduire à la destruction de l'arme et parfois même du Jedi qui la maniait. 
             L'énergie qui alimente la lame est contenue dans une petite cellule énergétique présente dans le pommeau qui est pratiquement illimitée. 
             Le secret de cette cellule est jalousement gardé par les Jedi. 
             Une fois l'énergie de la cellule canalysée dans la chambre des cristaux, cette dernière passe dans une bague de stabilisation qui maintient l'énergie sous forme de lame droite.</p>
             <br>
             <p>Sur certains sabres, on peut aussi trouver des boutons capables de modifier la puissance de la lame en modifiant le flux d'énergie en provenance de la cellule. 
             Cette pratique peut s'avérer très utile lorsqu'un combat s'éternise et pour surprendre son adversaire. 
             En effet, une lame appauvrie en énergie aura moins d'effet et les lames adverses pourront passer au travers.</p>
             <br>
             <p>Un autre système parfois implanté sur les sabres est l'extinction automatique.
              C'est à dire que si le Jedi perd son sabre, celui-ci s'éteindra automatiquement pour eviter de blesser malencontreusement son possesseur. 
              On pourrait penser que ce système est indispensable mais il reste néanmoins très peu utilisé du fait qu'il rend plus difficile le lancer du sabre.</p>
            <br>
        <h4>Forme I : la parade défensive, le style Shii-Cho</h4>
            <p>Prélude aux styles de combat dits plus modernes, le style Shii-Cho, aussi appelé la forme idéale, est le style mis au point par les premiers Jedi à avoir portés un sabre laser, il y a des millénaires.
            Très basique, cette forme est, en fait, l’adaptation de techniques d’escrime pour cette nouvelle arme, plus légère qu’une épée conventionnelle. 
            Bien qu’à présent obsolète, le style Shii-Cho était toujours enseigné aux plus jeunes élèves du Temple Jedi de Coruscant en guise d’introduction à des styles plus compliqués.</p>
            <br>
            <p>Au cours des millénaires, la forme idéale a donné naissance à de nombreuses variantes. Le Shii-Cho qu’enseignait Yoda, par exemple, était lui-même une variante. En effet, il contenait quelques mouvements défensifs destinés à intercepter les tirs de blaster, une arme qui, pourtant, n’existait pas encore lorsque la forme originelle fut mise au point. Obi-Wan Kenobi a déguisé son Soresu en cette variante du style Shii-Cho lors de son duel contre le Comte Dooku à bord de la Main Invisible, afin de leurrer ce dernier.</p>
            <br>
            <p>La forme I était également appelée Voie du Sarlacc.</p>
            <br>
        <h4>Forme II : le Makashi</h4>
            <p>Technique de combat très ancienne, la forme II, ou style Makashi, vit le jour lors des tous premiers affrontements entre les Jedi et les Sith; elle représente l’ultime raffinement du duel au sabre laser. D’une élégance sans pareille, le style Makashi est essentiellement fondé sur un enchaînement, parfaitement fluide, de parades, de coups d’estoc et de précises contre-attaques du revers de la lame. Le Makashi se démarque aussi par sa grande mobilité qui, additionnée à une capacité d’anticipation efficace, permet au pratiquant avisé de se défendre et d’attaquer sans le moindre effort, tandis que son adversaire s’épuise au combat. La grosse faiblesse de la forme II réside dans son manque de puissance brute; l’élégant Makashi ne dégage tout simplement pas le pouvoir cinétique nécessaire pour affronter un styliste du Djem So, par exemple. Cette faiblesse, ainsi que l’âge, coûta la vie au tristement célèbre Comte Dooku tandis qu’il affrontait Anakin Skywalker, pour la seconde fois.</p>
            <br>
            <p>Tout comme le style Shii-Cho, le style Makashi a également donné naissance à de nombreuses variantes. Asajj Ventress, qui combattait avec deux sabres laser, pratiquait une de de ces variantes (le style Makashi étant traditionnellement pratiqué avec un seul sabre). Le Général Grievous, qui pouvait combattre avec quatre sabres laser à la fois, partiquait aussi une variante de la forme II.</p>
            <br>
            <p>La forme II était également surnommée Voie de l’Ysalamiri, en raison de ses tendances incapacitantes.</p>
            <br>
        <h4>Forme III : le Soresu</h4>
            <p>Art défensif par excellence, le style Soresu fut développé par d’illustres bretteurs Jedi en réponse à l’usage de plus en plus répendu du fusil blaster. La majorité des opposants auxquels les Jedi furent confrontés au cours de l’âge d’or de la République en étaient équipés. La lame de son sabre laser étant très près de son propre corps, le styliste du Soresu peut ainsi se défendre efficacement et protéger plusieurs zones de son corps d’un seul mouvement, tout en restant parfaitement équilibré. Bien qu’essentiellement défensive, la forme III peut aussi être utilisée pour l’attaque. Ainsi, un pratiquant expérimenté peut aisément dévier et renvoyer une série de tirs sur le tireur.</p>
            <br>
            <p>Obi-Wan Kenobi, qui fut lui-même un grand maître du style Soresu, adapta cette forme pour combattre efficacement un adversaire possédant, lui aussi, un sabre laser. Le principe était de se défendre jusqu’à en épuiser son adversaire pour le vaincre. La grande faiblesse de cette forme demeure sa portée réduite par la position de la lame, rendant toute contre-attaque très difficile à réaliser.</p>
            <br>
            <p>La forme III était également appelée Voie du Mynock.</p>
            <br>
        <h4>Forme IV : l'Ataru (Ataro)</h4>
            <p>Plus impressionnante de toutes les formes, la forme IV exploite au maximum les capacités à sauter et à s’adapter d’un Jedi. Idéal pour un combat à ciel ouvert, ce style se fonde principalement sur une série d’enchaînements acrobatiques ponctués par de larges et précises estafilades. Ces mouvements étant effectués à une très grande vitesse, un styliste de l’Ataru se doit d’être en permanence immergé dans dans la Force ne serait-ce que pour maintenir ce rythme épuisant. Ironiquement, la plus grande faiblesse du style Ataru réside dans sa plus grande force: ses acrobaties. Lorsqu’il saute, la défense d’un Jedi est momentanément affaiblie. Ainsi, un dueliste avisé peut aisément inciter son adversaire à sauter, en feintant un balayage, par exemple, et le couper en deux tandis que ce dernier se trouve dans les airs. L’Ataru est aussi désavantagé lors des combats dans un espace restreint, comme l’a démontré le duel opposant Qui-Gon Jinn à Darth Maul dans le réacteur de Theed.</p>
            <br>
            <p>La forme IV, aussi appelée Voie du Chauve-faucon, était la forme de prédilection des Jedi de petite taille.</p>
            <br>
        <h4>Forme V : le Djem So</h4>
            <p>Aussi brutal que le Makashi est élégant, le Djem So fut développé par des Jedi mécontents du Soresu qu’ils jugeaient trop passif. Conservant de nombreuses postures du Soresu, ce style fait de la déflection de tirs de blaster l’art de renvoyer ces mêmes tirs vers l’expéditeur. Ainsi, un styliste du Djem So peut, simultanément, se défendre et blesser son adversaire. Le style Djem So emprunte également de nombreuses parades et contre-attaques au style Makashi. Cependant, tandis que la forme II s’axe plutôt sur des parades précises et élégantes, la forme V se focalise plutôt sur des parades complètes, bloquant complètement la lame ennemie, suivies d’avancées visant à repousser l’adversaire. La force brute du Djem So permit à Anakin Skywalker de vaincre l’élégant Makashi du Comte Dooku lors de leur second duel, à bord de la Main invisible. La principale faiblesse du Djem So réside dans la faible mobilité.</p>
            <br>
            <p>En raison de son agressivité, la forme V, aussi appelée Voie du Dragon Krayt, est considérée par de nombreux maîtres Jedi comme étant trop proche du côté obscur.</p>
            <br>
        <h4>Forme VI : le Niman</h4>
            <p>À l’époque de la Guerre des Clones, la forme VI, aussi surnommée la forme du diplomate, était la forme la plus répendue au sein de l’Ordre Jedi. Idéal presque utopique, le style Niman parfait reposerait sur une combinaison parfaitement équilibrée des autres styles existants; impliquant la parfaite maîtrise de ceux-ci. Le résultat est que si un styliste du Niman maîtrise les bases de tous les styles, il ne maîtrise réellement aucun style. Maîtriser complètement une forme de combat au sabre laser étant une entreprise à long terme, de nombreux Jedi adoptaient la forme VI et tentaient plutôt d’acquérir une plus grande maîtrise de la Force. Lors de la baitaille de Géonosis, nombreux des Jedi qui périrent ce jour-là étaient des adeptes de la forme VI. Coleman Trebor, maître styliste du Niman, ne fit pas le poids face au chasseur de prime Jango Fett et succomba devant les tirs de celui-ci.</p>
            <br>
            <p>Cin Drallig fut le seul Jedi à maîtriser véritablement cette forme aussi appelée Voie du Rancor.</p>
            <br>
        <h4>Forme VII : les styles Juyo et Vaapad</h4>
            <p>De toutes les formes de combat, la forme VII est, sans conteste, la voie la plus périlleuse. Plutôt un état d’esprit qu’une véritable forme, cette technique consiste à laisser libre court à ses émotions et à les exploiter sans toutefois céder au côté obscur. Le Jedi doit s’autoriser à apprécier le combat. Le style original de cette forme, dont l’enseignement s’est aujourd’hui perdu, était appelé Juyo. Ce style était décrit comme étant très agressif : un pratiquant du style Juyo sacrifiait sa propre défense dans de nombreux enchaînements offensifs dont chaque coup était destiné à être mortel. Darth Maul, qui était un styliste du Juyo, semblait être parvenu à combler cette faiblesse grâce à sa maîtrise du double sabre.</p>
            <br>
            <p>Le second style, nommé Vaapad, fut mis au point par un maître Jedi du nom de Mace Windu, quelques années seulement avant la Guerre des Clones. Windu croyait que le pouvoir de l’obscurité provenait de la peur qu’elle inspirait et, ne craignant pas l’obscurité, que cette dernière n’avait aucun pouvoir sur lui. Mais il était aussi sans aucun pouvoir sur elle. Le Vaapad est un chemin qui mène à travers la pénombre du Côté Obscur. Il est un canal de ténèbres, il les attire et les renvoit tel un sabre laser renvoit un éclair.</p>
            <br>
            <p>“Le Vaapad, septième forme de combat au sabre laser, tenait son nom d'un redoutable prédateur originaire des lunes de Sarapin : le vaapad attaque ses proies en portant des coups implacables, d'une rapidité fulgurante, avec ses tentacules. La plupart des créatures en ont au moins sept, mais il n'est pas rare qu'elles en aient douze. Le plus grand qu'on ait jamais tué en avait vingt-trois. Avec un vaapad, on ne peut jamais savoir combien de tentacules il a tant qu'il n'est pas mort : il est trop rapide pour qu'on les compte. C'est tout juste si on arrive à les voir.</p>
            <br>
            <p>Malgré sa puissance incontestable, le Vaapad, aussi appelé Voie du Vornskr, ne parvint pas à stopper la nouvelle ombre.</p>
    </div>
{% endblock %}