{% extends 'baseuq.html.twig' %}

{% block title %}Voies Jedi | Aux Confins de la Galaxie{% endblock %}

{% block body %}
<div class="content-info">
    <h1>Le Nouvel Ordre Jedi</h1>
    <div class="content mt-5">
        <p> Le Nouvel Ordre Jedi à été fondé par Luke Skywalker.</p>
    </div>
</div>
{% endblock %}