{% extends 'baseuq.html.twig' %}

{% block title %}Le jeu | Aux Confins de la Galaxie{% endblock %}

{% block body %}
    <h1>Presentation du jeu</h1>
    <div class="content">
    <h3>Aux confins de la galaxie</h3>
        <p>Aux Confins de la Galaxie est un jeu de rôle en temps réel qui se joue sur un salon IRC (salon de chat). 
        Comme tous les jeux de rôle, le principe est d'incarner un personnage au jour le jour, tout au long de sa formation sur la voie que vous avez choisis (Civil, Agent ou Jedi). 
        Outre la vie de votre personnage et ses aventures, se déroulent des missions organisées par ceux ayant la volonté d'être MJ ( Maître du Jeu).
        Ces missions sont communéments appellées RPG et sont des missions solo ou de groupe durant lesquelles le scénario évolue au rythme que chacun lui donne : chaque action de chaque personnage peut faire pencher le scénario et donc l'issue finale de la mission d'une extrémité à l'autre.
        En d'autre termes, rien n'est prévu à l'avance, tout se fait en temps réel.</p>
        <br>
        <br>
        <p>Le RPG Aux Confins de la Galaxie est aussi une communauté de fans de Star Wars et il est necessaire de connaître un minimum cet univers pour pouvoir faire partie du jeu.
        Lorsque vous vous présentez pour la première fois sur le jeu (via l'onglet "Jouer" sur la barre de navigation), vous avez le statut de ... .
        Vous intégrez le RPG mais vous n'êtes pas intégré à une classe.</p>
    </div>
{% endblock %}