{% extends 'baseuq.html.twig' %}

{% block title %}Qui sommes-nous ? | Aux Confins de la Galaxie{% endblock %}

{% block body %}
    <h1>Qui sommes-nous ?</h1>
    <div class="content">
        <p>Nous sommes un groupe amateur ayant évolué au sein d'un autre système de RPG par écrit issu du même univers Star Wars. Passionné par cet univers et par le développement web nous avons décidé 
           de créer notre propre système de jeu en ouvrant le jeu à plusieures classes et en mettant en place un contexte historique fidèle à l'Univers Legends jusqu'à la campgne du Grand Amiral Thrawn.
        </p>
        <br>
        <p>Bonne entente et plaisir de jouer font partie des valeurs que nous véhiculons. Si vous souhaitez vous aussi rejoindre l'aventure, n'hésitez pas à vous inscrire !</p>
    </div>
{% endblock %}